In [ ]:
mydata = open(corpus_abstractsOH)
content = mydata.read()
re.sub(' +', ' ',content)
print(content)
mydata.close()

In [ ]:
import re
string4="   This is      Test String   to test   duplicate spaces   "
print (string4)
print (re.sub(' +', ' ',string4))

In [ ]:
type(content)

In [ ]:
[1,2,3]

In [ ]:
#List of Tuples
#helpful for vectors
[(1,2), (3,4), (1, 5)]

In [3]:
variable  = [(1,2), (3,4), (1, 5)]

In [4]:
#call varibale
variable

[(1, 2), (3, 4), (1, 5)]

In [10]:
#when unsure of what varibale is check it with this builtin method
type(variable)

list

In [ ]:
variable2
variable3

In [14]:
list_1 = [[1,2,3], [4,5,6]]

In [20]:
#index (n+1) - steht fuer ersten INhat in der Liste, laueft durch
print(list_1[0])
print(list_1[1])

[1, 2, 3]
[4, 5, 6]

In [21]:
list_1 = [[1,2,3], [4,5,6]]
list_1[0][1] 
#liefert zweite Stelle aus erster Liste

2

In [11]:
#Pandas

import numpy as np
import pandas as pd

In [22]:
#pd = Library
#DataFrame (alsways table); muesen gleiche Art haben, gleiche Laenge...
#Elemente in der Liste 

pd.DataFrame(list_1)

   0  1  2
0  1  2  3
1  4  5  6

In [23]:
#pd = Library
#DataFrame (alsways table)

pd.DataFrame(np.random.rand(20,5))

           0         1         2         3         4
0   0.341303  0.225139  0.962712  0.818661  0.756594
1   0.297128  0.877670  0.262309  0.278439  0.327071
2   0.762332  0.344529  0.028942  0.673287  0.435459
3   0.051493  0.107707  0.056464  0.863046  0.329487
4   0.094240  0.285033  0.887096  0.102427  0.478292
5   0.520175  0.743742  0.407993  0.615026  0.769090
6   0.844348  0.812329  0.043266  0.194505  0.172118
7   0.522807  0.367625  0.744120  0.176572  0.223899
8   0.528824  0.463161  0.091200  0.615982  0.825581
9   0.588380  0.418639  0.630073  0.538197  0.447932
10  0.655635  0.346704  0.660612  0.988124  0.725471
11  0.279918  0.078851  0.965853  0.130793  0.903382
12  0.631751  0.265990  0.684118  0.059410  0.138723
13  0.871292  0.873393  0.409391  0.146164  0.468274
14  0.072795  0.383408  0.662945  0.072467  0.747223
15  0.804251  0.851865  0.748755  0.053495  0.595162
16  0.672960  0.119494  0.156248  0.980853  0.392519
17  0.078043  0.318891  0.537210  0.985539  0.580927
18  0.599878  0.319255  0.800912  0.397370  0.999106
19  0.629533  0.419747  0.862277  0.953262  0.225691

In [24]:
np.random.rand(20,5)

array([[0.39245534, 0.64013624, 0.58713505, 0.05971802, 0.60184096],
       [0.92696556, 0.19023904, 0.12391487, 0.34566896, 0.78611993],
       [0.39776164, 0.15991507, 0.92872799, 0.57571862, 0.73786947],
       [0.08224792, 0.28155119, 0.73888851, 0.72405878, 0.10788185],
       [0.47529515, 0.14824798, 0.94455144, 0.04481846, 0.65355042],
       [0.25810473, 0.25132208, 0.89548089, 0.00497921, 0.66679463],
       [0.31598076, 0.94481329, 0.24430083, 0.47464473, 0.05789485],
       [0.22614989, 0.52447218, 0.43544618, 0.24421613, 0.97222016],
       [0.48391119, 0.70025478, 0.77200289, 0.8277101 , 0.14829078],
       [0.71741649, 0.36292716, 0.0089313 , 0.93153837, 0.40082936],
       [0.2473729 , 0.30910473, 0.34325957, 0.95917401, 0.74328147],
       [0.59547721, 0.71819577, 0.06457206, 0.47334077, 0.67746863],
       [0.42056009, 0.60833732, 0.4524974 , 0.70141885, 0.64005522],
       [0.50650755, 0.29279313, 0.61404059, 0.94480963, 0.45471511],
       [0.43517988, 0.38217457, 0.10151416, 0.02503484, 0.97267516],
       [0.12769867, 0.12473936, 0.78231604, 0.99736157, 0.97093428],
       [0.32639408, 0.16233372, 0.2751528 , 0.59355217, 0.59288324],
       [0.86404415, 0.03599617, 0.50652587, 0.15276275, 0.25915349],
       [0.19583375, 0.16869613, 0.60273442, 0.64889108, 0.00608298],
       [0.27420726, 0.69999521, 0.55609989, 0.62077742, 0.58149547]])

In [ ]:
#Function repeats varibale

def add(parameter):
    return print('x')